<!-- <mat-card class="ccard" *ngFor = "let entry of resturant_inforarray">
            
            
  <div class="view overlay">
     <img mat-card-image class="img_card" src="{{entry.image_url}}" alt="Loading for{{entry.name}}">
  </div>
  
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-card-title>{{entry.name}}</mat-card-title>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <star-rating value="{{entry.ratings}}" checkedcolor="yellow" uncheckedcolor="black" size="24px"    readonly="true" ></star-rating>
      <mat-card-content>Ratings({{entry.ratings}})</mat-card-content>
      <mat-card-content>Average costs for two:<fa-icon [icon]="['fas','hamburger']"></fa-icon> {{entry.avg_cost}}</mat-card-content>
      <mat-card-content><strong>Cusines: </strong>{{entry.cusines}}</mat-card-content>
      <mat-card-content>Locality: {{entry.loaclity}}</mat-card-content>
      <mat-card-content>Availibility: {{entry.timings}}</mat-card-content>
      <div>
          <agm-map [latitude]="entry.lat" [longitude]="entry.lon">
              <agm-marker [latitude]="entry.lat" [longitude]="entry.lon"></agm-marker>
          </agm-map>
      </div>
  </mat-expansion-panel>

  
  
</mat-card> -->